<div>

    <q-tabs v-model="selectedTab" no-caps align="left" indicator-color="primary" active-bg-color="grey-3" class="bg-white full-width">
        <q-tab v-if="section === 'vulnerabilities'" name="languages" :label="$t('languages')" />
        <q-tab v-if="section === 'audits'" name="audit-types" :label="$t('auditTypes')" />
        <q-tab v-if="section === 'audits'" name="templates" :label="$t('templates')" />
        <q-tab v-if="section === 'custom'" name="custom-sections" :label="$t('customSections')" />
    </q-tabs>

    <div class="row">
        <q-tab-panels v-model="selectedTab" class="bg-transparent col-md-10 col-12 offset-md-1 q-mt-md" @before-transition="Utils.syncEditors($refs)">

            <!-- LANGUAGES -->
            <q-tab-panel name="languages">
                <q-card>
                    <q-card-section>
                        <div class="row items-center justify-between">
                            <div class="text-grey-8">{{$t('languageUsedInAuditsAndVuls')}}</div>
                            <q-btn
                                v-if="section === 'vulnerabilities' && UserService.isAllowed('vulnerabilities:update')"
                                class="automatic-matching-btn"
                                unelevated
                                no-caps
                                :label="$t('automaticVulnerabilityMatching')"
                                @click="$router.push({path: '/vulnerabilities', query: {matching: '1'}})"
                            />
                        </div>
                    </q-card-section>
                    <q-card-section class="row">
                        <div class="col-md-6 col-12" v-if="UserService.isAllowed('languages:create')">
                            <q-item>
                                <q-item-section>
                                    <q-input
                                    ref="validate-language"
                                    :label="$t('language')"
                                    v-model="newLanguage.language"
                                    clearable
                                    :rules="[val => !!val || 'Language is required']"
                                    lazy-rules="ondemand"
                                    @keyup.enter="createLanguage"
                                    outlined
                                    />
                                </q-item-section>
                                <q-item-section>
                                    <q-input
                                    ref="validate-locale"
                                    :label="$t('locale')"
                                    v-model="newLanguage.locale"
                                    clearable
                                    :rules="[val => !!val || 'Locale is required']"
                                    lazy-rules="ondemand"
                                    @keyup.enter="createLanguage"
                                    outlined
                                    />
                                </q-item-section>
                                <q-item-section side>
                                    <q-btn color="secondary" unelevated label="+" size="md" @click="createLanguage" />
                                </q-item-section>
                            </q-item>
                        </div>
                        
                        <div v-if="!editLanguage" class="col-md-6 col-12">
                            <q-card flat bordered v-if="languages.length > 0">
                                <q-toolbar>
                                    <div class="text-grey-8">{{$t('listOfLanguages')}}</div>
                                    <q-space />
                                    <q-btn v-if="UserService.isAllowed('languages:update')" flat class="edit-btn-color" icon="fa fa-edit" @click="startEditingLanguages">
                                        <q-tooltip anchor="bottom middle" self="center left" :delay="500" content-class="text-bold">{{$t('tooltip.edit')}}</q-tooltip> 
                                    </q-btn>
                                </q-toolbar>
                                <q-separator />
                                <q-card-section>
                                    <q-item v-for="language in languages" :key="language.locale">
                                        <q-item-section>
                                            <q-input
                                            :label="$t('language')"
                                            v-model="language.language"
                                            readonly
                                            outlined
                                            />
                                        </q-item-section>
                                        <q-item-section>
                                            <q-input
                                            :label="$t('locale')"
                                            v-model="language.locale"
                                            readonly
                                            outlined
                                            />
                                        </q-item-section>
                                    </q-item>
                                </q-card-section>
                            </q-card>
                        </div>
                        <div v-else class="col-md-6 col-12">
                            <q-card flat bordered>
                                <q-toolbar>
                                    <div class="text-grey-8">{{$t('editLanguages')}}</div>
                            </q-toolbar>
                            <q-separator />
                            <q-card-section>
                                <draggable
                                v-model="editLanguages"
                                handle=".handle"
                                ghost-class="drag-ghost"
                                item-key="_uniqueId"
                              >
                                <template #item="{ element, index }">
                                  <q-item>
                                    <q-item-section avatar>
                                      <q-icon
                                        name="mdi-arrow-split-horizontal"
                                        class="cursor-pointer handle"
                                        color="grey"
                                      />
                                    </q-item-section>
                                    <q-item-section>
                                      <q-input
                                        :label="$t('language')"
                                        v-model="element.language"
                                        outlined
                                      />
                                    </q-item-section>
                                    <q-item-section>
                                      <q-input
                                        :label="$t('locale')"
                                        v-model="element.locale"
                                        outlined
                                      />
                                    </q-item-section>
                                    <q-item-section side>
                                      <q-btn
                                        color="red"
                                        unelevated
                                        label="x"
                                        size="md"
                                        class="q-mt-md"
                                        @click="removeLanguage(element.locale)"
                                      />
                                    </q-item-section>
                                  </q-item>
                                </template>
                              </draggable>
                                </q-card-section>
                                <q-card-actions align="right" class="q-mr-lg">
                                    <q-btn color="primary" outline @click="editLanguage = false">{{$t('btn.cancel')}}</q-btn>
                                    <q-btn color="secondary" unelevated @click="updateLanguages">{{$t('btn.save')}}</q-btn>
                                </q-card-actions>
                            </q-card>
                        </div>
                    </q-card-section>
                </q-card>
            </q-tab-panel>

            <!-- AUDIT TYPES -->
            <q-tab-panel name="audit-types">
                <q-card>
                    <q-card-section>
                        <div class="text-grey-8">{{$t('auditTypesUsedInAudits')}}</div>
                    </q-card-section>
                    <q-card-section v-if="languages.length > 0" class="row">
                        <div class="col-md-6 col-12" v-if="UserService.isAllowed('audit-types:create')">
                            <q-item>
                                <q-item-section>
                                    <q-input
                                    ref="validate-auditType-name"
                                    :label="$t('name')"
                                    label-slot
                                    v-model="newAuditType.name"
                                    clearable
                                    :rules="[val => !!val || 'Name is required']"
                                    lazy-rules="ondemand"
                                    @keyup.enter="createAuditType"
                                    outlined
                                    >
                                        <template v-slot:label>
                                            {{$t('name')}} <span class="text-red">*</span>
                                        </template>
                                    </q-input>
                                </q-item-section>
                            </q-item>
                            <q-item>
                                <q-item-section>
                                    <div v-for="(language,idx) of languages">
                                        <q-select 
                                        ref="validate-auditType-template"
                                        v-model="newAuditType.templates[idx]" 
                                        label-slot
                                        :options="getTemplateOptionsLanguage(language.locale)" 
                                        option-value="template"
                                        option-label="name" 
                                        options-sanitize
                                        map-options
                                        outlined
                                        :rules="[val => !!val || 'Field is required']"
                                        lazy-rules="ondemand"
                                        >
                                            <template v-slot:label>
                                                {{language.language}} {{$t('template')}} <span class="text-red">*</span>
                                            </template>
                                        </q-select>
                                    </div>
                                </q-item-section>
                            </q-item>
                            <q-item>
                                <q-item-section>
                                    <q-select 
                                    v-model="newAuditType.sections" 
                                    :label="$t('addSections')"
                                    multiple
                                    use-chips
                                    :options="sections" 
                                    option-value="field"
                                    option-label="name"
                                    emit-value
                                    map-options 
                                    options-sanitize
                                    outlined
                                    >
                                        <template v-slot:selected-item="scope">
                                            <q-chip
                                            dense
                                            removable
                                            @remove="scope.removeAtIndex(scope.index)"
                                            :tabindex="scope.tabindex"
                                            color="blue-grey-5"
                                            text-color="white"
                                            >
                                                {{scope.opt.name}}
                                            </q-chip>
                                        </template>
                                    </q-select>
                                </q-item-section>
                            </q-item>
                            <q-item>
                                <q-item-section>
                                    <span class="text-grey-7 text-italic">{{$t('hideBuiltInSections')}}</span>
                                    <q-checkbox v-model="newAuditType.hidden" val="network" :label="$t('networkScan')" />
                                    <q-checkbox v-model="newAuditType.hidden" val="findings" :label="$t('findings')" />
                                </q-item-section>
                            </q-item>
                            <q-separator inset class="q-mb-sm" />
                            <q-btn class="q-ml-md" color="secondary" unelevated :label="$t('btn.create')" size="md" no-caps @click="createAuditType" />
                        </div>

                        <div v-if="!editAuditType" class="col-md-6 col-12">
                            <q-card flat bordered v-if="auditTypes.length > 0">
                                <q-toolbar>
                                    <div class="text-grey-8">{{$t('listOfAuditTypes')}}</div>
                                    <q-space />
                                    <q-btn v-if="UserService.isAllowed('audit-types:update')" flat class="edit-btn-color" icon="fa fa-edit" @click="startEditingAuditTypes">
                                        <q-tooltip anchor="bottom middle" self="center left" :delay="500" content-class="text-bold">{{$t('tooltip.edit')}}</q-tooltip> 
                                    </q-btn>
                                </q-toolbar>
                                <q-separator />
                                <q-item v-for="auditType of auditTypes" :key="auditType.name">
                                    <q-item-section>
                                        <q-expansion-item :label="auditType.name" popup header-class="expansion-header">
                                            <q-item>
                                                <q-item-section>
                                                    <div v-for="(language,idx) of languages" class="q-mb-sm">
                                                        <q-select 
                                                        v-if="auditType.templates && auditType.templates[idx]"
                                                        readonly
                                                        v-model="auditType.templates[idx].template"
                                                        :label="`${language.language} ${$t('template')}`"
                                                        :options="templates" 
                                                        option-value="_id"
                                                        option-label="name"
                                                        map-options 
                                                        options-sanitize
                                                        outlined
                                                        />
                                                    </div>
                                                </q-item-section>
                                            </q-item>
                                            <q-item>
                                                <q-item-section>
                                                    <q-select 
                                                    v-model="auditType.sections"
                                                    readonly
                                                    :label="$t('sections')"
                                                    multiple
                                                    use-chips
                                                    :options="sections" 
                                                    option-value="field"
                                                    option-label="name"
                                                    emit-value
                                                    map-options 
                                                    options-sanitize
                                                    outlined
                                                    >
                                                        <template v-slot:selected-item="scope">
                                                            <q-chip
                                                            dense
                                                            readonly
                                                            :tabindex="scope.tabindex"
                                                            color="blue-grey-5"
                                                            text-color="white"
                                                            >
                                                                {{scope.opt.name}}
                                                            </q-chip>
                                                        </template>
                                                    </q-select>
                                                </q-item-section>
                                            </q-item>
                                            <q-item>
                                                <q-item-section>
                                                    <span class="text-grey-7 text-italic">{{$t('hideBuiltInSections')}}</span>
                                                    <q-checkbox v-model="auditType.hidden" disable val="network" :label="$t('networkScan')" />
                                                    <q-checkbox v-model="auditType.hidden" disable val="findings" :label="$t('findings')" />
                                                </q-item-section>
                                            </q-item>
                                        </q-expansion-item>
                                    </q-item-section>
                                </q-item>
                            </q-card>
                        </div>
                        <div v-else class="col-md-6 col-12">
                            <q-card flat bordered>
                                <q-toolbar>
                                    <div class="text-grey-8">{{$t('editAuditTypes')}}</div>
                            </q-toolbar>
                            <q-separator />
                            <q-card-section>
                                <draggable v-model="editAuditTypes" handle=".handle" ghost-class="drag-ghost" item-key="_uniqueId">
                                    <template #item="{ element: auditType, index }">
                                      <q-item>
                                        <q-item-section avatar>
                                          <q-icon name="mdi-arrow-split-horizontal" class="cursor-pointer handle" color="grey" />
                                        </q-item-section>
                                        <q-item-section>
                                          <q-expansion-item :label="auditType.name" popup>
                                            <q-item>
                                              <q-item-section>
                                                <q-input
                                                  ref="validate-auditType-name-edit"
                                                  :label="$t('name')"
                                                  label-slot
                                                  v-model="auditType.name"
                                                  clearable
                                                  :rules="[val => !!val || 'Name is required']"
                                                  lazy-rules="ondemand"
                                                  outlined
                                                >
                                                  <template v-slot:label>
                                                    {{ $t('name') }} <span class="text-red">*</span>
                                                  </template>
                                                </q-input>
                                              </q-item-section>
                                            </q-item>
                                  
                                            <q-item>
                                              <q-item-section>
                                                <div v-for="(language, idx) in languages" :key="idx">
                                                  <q-select
                                                    ref="validate-template-edit"
                                                    v-if="auditType.templates[idx]"
                                                    v-model="auditType.templates[idx].template"
                                                    label-slot
                                                    :options="getTemplateOptionsLanguage(language.locale)"
                                                    option-value="template"
                                                    option-label="name"
                                                    options-sanitize
                                                    map-options
                                                    emit-value
                                                    outlined
                                                    :rules="[val => !!val || 'Field is required']"
                                                    lazy-rules="ondemand"
                                                  >
                                                    <template v-slot:label>
                                                      {{ language.language }} {{ $t('template') }} <span class="text-red">*</span>
                                                    </template>
                                                  </q-select>
                                  
                                                  <!-- needed for updating old Audit Types without templates -->
                                                  <q-select
                                                    v-else
                                                    ref="validate-template-edit2"
                                                    v-model="auditType.templates[idx]"
                                                    label-slot
                                                    :options="getTemplateOptionsLanguage(language.locale)"
                                                    option-value="template"
                                                    option-label="name"
                                                    options-sanitize
                                                    map-options
                                                    outlined
                                                    :rules="[val => !!val || 'Field is required']"
                                                    lazy-rules="ondemand"
                                                  >
                                                    <template v-slot:label>
                                                      {{ language.language }} {{ $t('template') }} <span class="text-red">*</span>
                                                    </template>
                                                  </q-select>
                                                </div>
                                              </q-item-section>
                                            </q-item>
                                  
                                            <q-item>
                                              <q-item-section>
                                                <q-select
                                                  v-model="auditType.sections"
                                                  :label="$t('sections')"
                                                  multiple
                                                  use-chips
                                                  :options="sections"
                                                  option-value="field"
                                                  option-label="name"
                                                  emit-value
                                                  map-options
                                                  options-sanitize
                                                  outlined
                                                >
                                                  <template v-slot:selected-item="scope">
                                                    <q-chip
                                                      dense
                                                      removable
                                                      @remove="scope.removeAtIndex(scope.index)"
                                                      :tabindex="scope.tabindex"
                                                      color="blue-grey-5"
                                                      text-color="white"
                                                    >
                                                      {{ scope.opt.name }}
                                                    </q-chip>
                                                  </template>
                                                </q-select>
                                              </q-item-section>
                                            </q-item>
                                  
                                            <q-item>
                                              <q-item-section>
                                                <span class="text-grey-7 text-italic">{{ $t('hideBuiltInSections') }}</span>
                                                <q-checkbox v-model="auditType.hidden" val="network" :label="$t('networkScan')" />
                                                <q-checkbox v-model="auditType.hidden" val="findings" :label="$t('findings')" />
                                              </q-item-section>
                                            </q-item>
                                          </q-expansion-item>
                                        </q-item-section>
                                        <q-item-section side>
                                          <q-btn
                                            color="red"
                                            unelevated
                                            label="x"
                                            size="md"
                                            class="q-mt-md"
                                            @click="removeAuditType(auditType)"
                                          />
                                        </q-item-section>
                                      </q-item>
                                    </template>
                                  </draggable>
                                  
                                </q-card-section>
                                <q-card-actions align="right" class="q-mr-lg">
                                    <q-btn color="primary" outline @click="editAuditType = false">{{$t('btn.cancel')}}</q-btn>
                                    <q-btn color="secondary" unelevated @click="updateAuditTypes">{{$t('btn.save')}}</q-btn>
                                </q-card-actions>
                            </q-card>
                        </div>
                    </q-card-section>
                    <q-card-section v-else>
                        <p>{{$t('createAtLeastOneLanguage')}}</p>
                    </q-card-section>
                </q-card>
            </q-tab-panel>

            <!-- SECTIONS -->
            <q-tab-panel name="custom-sections">
                <q-card>
                    <q-card-section>
                        <div class="text-grey-8">{{$t('createCustomSections')}}</div>
                    </q-card-section>
                    <q-card-section class="row">
                        <div class="col-md-6 col-12" v-if="UserService.isAllowed('sections:create')">
                            <q-item>
                                <q-item-section>
                                    <q-input
                                        :label="$t('name')"
                                        v-model="newSection.name"
                                        clearable
                                        :error="!!errors.sectionName"
                                        :error-message="errors.sectionName"
                                        hide-bottom-space
                                        @keyup.enter="createSection"
                                        outlined
                                    />
                                </q-item-section>
                                <q-item-section>
                                    <q-input
                                        :label="$t('fieldForTemplate')"
                                        v-model="newSection.field"
                                        clearable
                                        :error="!!errors.sectionField"
                                        :error-message="errors.sectionField"
                                        hide-bottom-space
                                        @keyup.enter="createSection"
                                        outlined
                                    />
                                </q-item-section>
                            </q-item>
                            <q-item>
                                <q-item-section>
                                    <q-input
                                        :label="$t('customIcon')"
                                        v-model="newSection.icon"
                                        outlined
                                    >
                                        <template v-slot:append>
                                            <q-avatar>
                                                <q-icon size='sm' :name="newSection.icon" />
                                            </q-avatar>
                                        </template>
                                    </q-input>
                                </q-item-section>
                                <q-item-section>
                                    <q-select
                                        :label="$t('sectionType')"
                                        v-model="newSection.type"
                                        :options="sectionTypeOptions"
                                        emit-value
                                        map-options
                                        options-sanitize
                                        outlined
                                    />
                                </q-item-section>
                            </q-item>

                            <!-- Checklist row editor (create) -->
                            <q-item v-if="newSection.type === 'checklist'">
                                <q-item-section>
                                    <div class="text-caption text-grey-7 q-mb-xs">{{$t('checklistRows')}}</div>
                                    <div v-for="(row, idx) in newSection.rows" :key="idx" class="row items-center q-mb-xs">
                                        <q-input
                                            v-model="row.label"
                                            :label="$t('checklistRowLabel')"
                                            outlined
                                            dense
                                            class="col"
                                        />
                                        <q-btn flat dense icon="delete" color="negative" @click="removeSectionRow(newSection, idx)" class="q-ml-xs" />
                                    </div>
                                    <q-btn outline dense no-caps color="primary" icon="add" :label="$t('addChecklistRow')" @click="addSectionRow(newSection)" class="q-mt-xs" />
                                </q-item-section>
                            </q-item>

                            <q-item>
                                <q-item-section side>
                                    <q-btn color="secondary" unelevated no-caps :label="$t('btn.create')" @click="createSection" />
                                </q-item-section>
                            </q-item>
                        </div>

                        <div v-if="!editSection" class="col-md-6">
                            <q-card flat bordered v-if="sections.length > 0">
                                <q-toolbar>
                                    <div class="text-grey-8">{{$t('listOfSections')}}</div>
                                    <q-space />
                                    <q-btn v-if="UserService.isAllowed('sections:update')" flat class="edit-btn-color" icon="fa fa-edit" @click="startEditingSections">
                                        <q-tooltip anchor="bottom middle" self="center left" :delay="500" content-class="text-bold">Edit</q-tooltip>
                                    </q-btn>
                                </q-toolbar>
                                <q-separator />
                                <div v-for="(sec, idx) of sections" :key="idx">
                                    <q-item>
                                        <q-item-section>
                                            <q-input :label="$t('name')" v-model="sec.name" readonly outlined />
                                        </q-item-section>
                                        <q-item-section>
                                            <q-input :label="$t('field')" v-model="sec.field" readonly outlined />
                                        </q-item-section>
                                        <q-item-section>
                                            <q-badge :color="sec.type === 'checklist' ? 'purple' : 'teal'" :label="$t(sec.type === 'checklist' ? 'customSectionTypeChecklist' : 'customSectionTypeText')" class="q-mt-sm" />
                                        </q-item-section>
                                    </q-item>
                                </div>
                            </q-card>
                        </div>

                        <div v-else class="col-md-6">
                            <q-card flat bordered>
                                <q-toolbar>
                                    <div class="text-grey-8">{{$t('editSections')}}</div>
                                </q-toolbar>
                                <q-separator />
                                <q-card-section>
                                    <draggable v-model="editSections" handle=".handle" ghost-class="drag-ghost" item-key="_uniqueId">
                                        <template #item="{ element: sec, index: idx }">
                                            <q-card flat bordered class="q-mb-sm">
                                                <q-item>
                                                    <q-item-section avatar>
                                                        <q-icon name="mdi-arrow-split-horizontal" class="cursor-pointer handle" color="grey" />
                                                    </q-item-section>
                                                    <q-item-section>
                                                        <q-input :label="$t('name')" v-model="sec.name" outlined dense />
                                                    </q-item-section>
                                                    <q-item-section>
                                                        <q-input :label="$t('field')" v-model="sec.field" outlined dense />
                                                    </q-item-section>
                                                    <q-item-section>
                                                        <q-input :label="$t('customIcon')" v-model="sec.icon" outlined dense>
                                                            <template v-slot:append>
                                                                <q-avatar><q-icon size="sm" :name="sec.icon" /></q-avatar>
                                                            </template>
                                                        </q-input>
                                                    </q-item-section>
                                                    <q-item-section>
                                                        <q-select
                                                            :label="$t('sectionType')"
                                                            v-model="sec.type"
                                                            :options="sectionTypeOptions"
                                                            emit-value
                                                            map-options
                                                            options-sanitize
                                                            outlined
                                                            dense
                                                            @update:model-value="val => { if (val !== 'checklist') sec.rows = [] }"
                                                        />
                                                    </q-item-section>
                                                    <q-item-section side>
                                                        <q-btn color="negative" flat icon="delete" size="sm" @click="removeSection(idx)" />
                                                    </q-item-section>
                                                </q-item>

                                                <!-- Checklist row editor (edit) -->
                                                <q-card-section v-if="sec.type === 'checklist'" class="q-pt-none">
                                                    <div class="text-caption text-grey-7 q-mb-xs">{{$t('checklistRows')}}</div>
                                                    <div v-for="(row, rIdx) in (sec.rows || [])" :key="rIdx" class="row items-center q-mb-xs">
                                                        <q-input
                                                            v-model="row.label"
                                                            :label="$t('checklistRowLabel')"
                                                            outlined
                                                            dense
                                                            class="col"
                                                        />
                                                        <q-btn flat dense icon="delete" color="negative" @click="removeSectionRow(sec, rIdx)" class="q-ml-xs" />
                                                    </div>
                                                    <q-btn outline dense no-caps color="primary" icon="add" :label="$t('addChecklistRow')" @click="addSectionRow(sec)" class="q-mt-xs" />
                                                </q-card-section>
                                            </q-card>
                                        </template>
                                    </draggable>
                                </q-card-section>
                                <q-card-actions align="right" class="q-mr-lg">
                                    <q-btn color="primary" outline @click="editSection = false">{{$t('btn.cancel')}}</q-btn>
                                    <q-btn color="secondary" unelevated @click="updateSections">{{$t('btn.save')}}</q-btn>
                                </q-card-actions>
                            </q-card>
                        </div>
                    </q-card-section>
                </q-card>
            </q-tab-panel>

            <!-- TEMPLATES -->
            <q-tab-panel v-if="section === 'audits'" name="templates">
                <templates-page />
            </q-tab-panel>
        </q-tab-panels>
    </div>
</div>
        
